<form action="/update/{{ substance[0] }}" method="POST">

<p><h2>{% if new %}
Lisää uusi aine
{% else %}
Muokkaa aineen tietoja
{% endif %}</h2></p>

<p>Aineen nimi:<br>
<input type="text" name="name" value="{{ substance[2] }}" required></p>

<p>Luokka:</p>
<p><select name="class">
    {% for class in classes %}
        {% if class[1] == substclass %}
        <option value="{{ class[0] }}" selected="selected">{{ class[1] }}</option>
        {% else %}
        <option value="{{ class[0] }}">{{ class[1] }}</option>
        {% endif %}
    {% endfor %}
</select></p>

<p>Metabolia:<br>
<input type="text" name="metabolism" value="{{ substance[3] }}"></p>

<p>Vaikutusaika:<br>
<input type="text" name="eff_duration" value="{{ substance[4] }}"></p>

<p>Muuta:<br>
<input type="text" name="notes" value="{{ substance[5] }}"></p>

<p>Haittavaikutukset:<br>
<input type="text" name="risks" value="{{ substance[6] }}"></p>

<input type="hidden" name="new" value={{ new }}>
<input type="submit" value="Seuraava">

<p>{% if new %}
<a href="/uncreate/{{ substance[0] }}">Peruuta</a>
{% else %}
<a href="/cancel">Peruuta</a>
{% endif %}</p>
</form>
