{% if session.username %}
<p>Olet kirjautunut: {{ session.username }}, {{ session.userrole }}</p>
<p><a href="/logout">Kirjaudu ulos</a></p>

<hr>

<form action="/search" method="POST">
<input type="text" name="srchstring">
<input type="submit" value="Hae"></p>
</form>

<p><a href="/openadvsrch">Tarkennettu haku</a></p>

<hr>

<p>{% for subst in substances %}
<a href="/view/{{ subst[0] }}">{{ subst[1] }}</a><br>
</p>
{% endfor %}

{% if session.userrole == "admin" %}

<hr>
<p><a href="/newsubst">Lisää uusi aine</a></p>
<p><a href="/newia">Lisää yhteisvaikutus</a></p>
<p><a href="/userlist">Hallinnoi käyttäjiä</a></p>

{% endif %}

{% else %}

<p><h2>Kirjaudu sisään</h2></p>
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu sisään">

<p><a href="/signup">Luo uusi käyttäjätili</a></p>
</form>

{% endif %}
