<form action="/addsubstance" method="POST">

<p><h2>Lisää uusi aine</h2></p>

<p>Aineen nimi:<br>
<input type="text" name="name"></p>

<p>Luokka:<br>
<select name="class">
    {% for class in classes %}
    <option value="{{ class[0] }}">{{ class[1] }}</option>
    {% endfor %}
</select></p>

<p>Metabolia:<br>
<input type="text" name="metabolism"></p>

<p>Vaikutusaika:<br>
<input type="text" name="eff_duration"></p>

<p>Muuta:<br>
<input type="text" name="notes"></p>

<p>Haittavaikutukset:<br>
<input type="text" name="risks"></p>

<input type="submit" value="Seuraava">

<p><a href="/cancel">Peruuta</a></p>

</form>
