<p><h1>{{ substance[2] }}</h1></p>

<p><b>Luokka:</b> {{ substclass }}</p>

<p><b>Indikaatiot:</b> {{ indication[0] }}

<p><b>Vaikutusmekanismi:</b> {{ mechanism[0] }}, {{ mechanism[1] }}</p>

<p><b>Metabolia:</b> {{ substance[5] }} </p>

<p><b>Vaikutusaika:</b> {{ substance[6] }} </p>

<p><b>Muuta:</b> {{ substance[7] }} </p>
{% if substance[8] %}

<p><b>Mahdolliset haittavaikutukset:</b> {{ substance[8] }}</p>
{% endif %}

{% if interactions %}
<hr>
<p><h2>Yhteisvaikutukset:</h2></p>

<p>{% for interaction in interactions %}
<p><b>{{ interaction[1] }}:</b></p>
<p>{{ interaction[2] }}</p>
<hr>
{% endfor %}</p>

{% endif %}

{% if session.userrole == "admin" %}

<hr>
<p><a href="/editsubst/{{ substance[0] }}">Muokkaa aineen tietoja</a></p>

{% endif %}

<p><a href="/cancel">Takaisin</a></p>
